/* side bar styling */
.sidebar {
	display: flex;
	flex: 1;
	flex-direction: column;
	width: 375px;
	background-color: #313244;
	text-align: center;
	overflow-y: scroll;
	overscroll-behavior: contain;
	scrollbar-color: #363a4f rgba(0,0,0,0);
}

.sidebarHeader {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content:center;
	background-color: #313244;
	color: #f5efeb;
	padding: 15px;
	font-size: 20px;
}

.sidebarHeader-left {
	flex: 3;
}

.sidebarHeader-subtext {
	flex: 1;
	font-size: 12px;
	padding: 2px;
}

.player-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	width: 100%;
	padding: 0 25px;
	box-sizing: border-box;
	cursor: pointer;
	min-height: 40px;
}

.player-name {
	display: inline-block;
	text-align: left;
	width: 80px;
}

.player-rank {
	display: inline-block;
	text-align: right;
	font-family: "Lucida Console", "monospace";
	width: 70px; /* Adjust this value as needed to align the numbers */
}

.sidebar-textbox {
	font-size: 24px;
	color: white;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebar-textbox p {
	margin: 10px;
	width: 100%;
}

.sidebar-textbox button{
	margin: 10px;
	background: linear-gradient(    
		to bottom,
		#f5a97f 0%,
		#e6c47f 49.5%,
		#deb974 50%,
		#e6c47f 50.5%,
		#eed49f 100%
	);
	padding: 7px;
	font-size: 18px;
	color: #11111b;
	border-radius: 5px;
	border: 2px solid #eed49f;
}

.sidebar-textbox button:disabled {
	margin: 10px;
	padding: 7px;
	font-size: 18px;
	color: #555;
	border-radius: 5px;
	border: 2px solid #ccc; 
	background: linear-gradient(
		to bottom,
		#b57c5f 0%,
		#c1a678 49.5%,
		#bba366 50%,
		#c1a678 50.5%, 
		#d5c18f 100%
	);
	cursor: not-allowed; 
	opacity: 0.7; 
}


/* rank colors */

.bronze {
	background-color: #dc935c;
}

.bronze-dark {
	background-color: #d9884c;
}

.silver {
	background-color: #D8D8D8;
}

.silver-dark {
	background-color: #cecece;
}

.gold {
	background-color: #FDE37F;
}

.gold-dark {
	background-color: #fddf6c;
}

.unranked {
	background-color: #ee99a0;
}

.unranked-dark {
	background-color: #ed8796;
}
